/* ------------ GENERAL PROPERTIES ------------ */

* { /* Reset Browser default properties*/
    margin-top: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, rgba(217, 255, 2, 0.443) 0%, rgb(255, 255, 255) 33%, rgb(38, 38, 38) 100%);
}
li{
    list-style: none;
    font-size: 20px;
    padding: 20px;
    
}
/* !------------ CONTAINER ------------ */
header{
    height: 100px;
    background: rgb(0,0,0);

}
header img{
    object-fit: contain;
    width: 90px;
    filter: invert(100%);
}
.immagine h2{
    color: white;
}

/* !------------ CONTAINER ------------ */
.mainContent{
    width: 30%;
    height: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 20%;
    box-shadow: 1px 5px 10px #000000;
}
main{
    height: calc(100vh - 150px)
}

.bgImage{
position: relative;
top: 0%;
left: auto;
width: 50%;
height: 600px;
background-color: aliceblue;
margin: 0% auto;
margin-top: 50px;
border-radius: 50px;
}
.bgImage img{
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-fit: cover;
   box-shadow: 0px 5px 10px #000000;
}


/* !------------ MAIN ------------ */
h1, .biglietto h2{
    font-size: 45px;
}

/* !------------ SECTION USER INFO ------------ */
.user-info{
    background-color: #8c8c8c;
border-top: 1px solid #8c8c8c;
border-bottom: 1px solid #8c8c8c;
}
section .user-info{
    margin: 0px 2px;
}
.items{
    padding-top: 10px;
    background-color: white;
}

/* !------------ BUTTONS ------------ */
.buttons button{
    padding: 10px 60px;
    border: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}