/* ------------ GENERAL PROPERTIES ------------ */

* { /* Reset Browser default properties*/
    margin-top: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: brown;
}

/* ------------ MAIN ------------ */
.debug{
    border: 2px solid rgb(0, 253, 0);
}
.container-md{
    height: 400px;
}