/* ------------ GENERAL PROPERTIES ------------ */

* { /* Reset Browser default properties*/
    margin-top: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: brown;
}

/* ------------ CONTAINER ------------ */
.container-md{
    height: 300px;
    background-color: white;
    border-radius: 10px;
}
/* ------------ MAIN ------------ */
h1, h2{
    font-size: 45px;
}